<div class="modal fade" id="inactivityModal" tabindex="-1" aria-labelledby="inactivityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inactivityModalLabel">Jesteś tam?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Wygląda na to, że nie było aktywności przez 5 minut. Czy nadal chcesz pozostać zalogowany?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="stayLoggedIn">Tak, nadal jestem tutaj</button>
                <button type="button" class="btn btn-secondary" id="logoutButton">Wyloguj mnie</button>
            </div>
        </div>
    </div>
</div>